.header {
    font-size: 200px;
    font-family: 'Staatliches', cursive;
}

body {
    color: rgb(158, 185, 173);
    background-color: rgb(14, 16, 19);
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 150px;
}

.bio {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 25px;
}

.page-container {
    margin-top: 170px;
    margin-bottom: 170px;
}


#f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r{
    margin: -17px;
    display: inline-block;
  }

  #f:hover {
    color: #BCB6FF;
  }
  #u:hover {
    color: #B8E1FF;
  }
  #l:hover {
    color: #A9FFF7;
  }
  #l2:hover {
    color: #94FBAB;
  }
  #s:hover {
    color: #BCB6FF;
  }
  #t:hover {
    color: #B8E1FF;
  }
  #a:hover {
    color: #A9FFF7;
  }
  #c:hover {
    color: #94FBAB;
  }
  #k:hover {
    color: #BCB6FF;
  }
  #d:hover {
    color: #B8E1FF;
  }
  #e:hover {
    color: #A9FFF7;
  }
  #v:hover {
    color: #94FBAB;
  }
  
  #e2:hover {
    color: #BCB6FF;
  }
  #l3:hover {
    color: #B8E1FF;
  }
  #o:hover {
    color: #A9FFF7;
  }
  #p:hover {
    color: #94FBAB;
  }
  #e3:hover {
    color: #BCB6FF;
  }
  #r:hover {
    color: #B8E1FF;
  }


  .body-img {
    height: 450px;
    width: 580px;
    display: flex;
    justify-content: end;
    border: solid white 5px;
  }
  .body-text{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    border: solid white;
    padding: 50px;
  }
  .body-info {
    margin: 20px;
  }
  .icons {
    margin: 20px;
    font-size: 28px;
    border: solid white;
    letter-spacing: 3px;
  }

  .footer-icons {
    margin: 30px;
    font-size: 32px;
    border: solid white;
    letter-spacing: 6px;
  }

  .body-header {
  
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    border: solid white;
    text-align: start;
}
  .body-container {
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    border: solid white;
  }
  .code-link {
    margin: 20px;
  }

.navbar {
font-size: 24px;
background-color: rgb(14, 16, 19) !important;
padding-left: 35px;
padding-right: 35px;
}



#project1, #project2, #project3 {
padding-top: 90px;
padding-bottom: 90px;
/* border: solid white; */
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  color: #94FBAB !important;
  text-decoration: underline;
}



.about-container {
  font-size: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid white; */
  margin-top: 150px;
  margin-bottom: 150px;
}

.about-header {
  text-align: end;
  padding-top:20px;
  padding-bottom:20px;
  padding-right: 30px;
  /* border: solid white; */
  
}

.about-text {
  text-align: center;
  /* padding: 0px 300px 0px 20px; */
  padding-right: 320px;
  padding-left: 320px;
  /* border: solid white; */
}

.contact-container {
  /* margin: 200px 100px 200px 100px; */
  margin-top: 80px !important;
  margin-bottom: 20px !important;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  font-size: 25px;
  text-align: center;
font-family: 'Staatliches', cursive;
  /* border: solid white; */
}

.contact-header {
  font-size: 160px;
}


/* #project1-header{
  color: #BCB6FF;
}
#project2-header {
  color: #B8E1FF;
}
#project3-header {
  color: #A9FFF7;
} */
/* #l2:hover {
  color: #94FBAB;
} */