body {
    color: rgb(158, 185, 173);
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 150px;
    background-color: rgb(14, 16, 19);
}

.bio {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    margin-right: 100px;
    animation: bio .8s linear;
}

.page-container {
    margin-top: 250px;
    margin-bottom: 250px;
}

@media only screen and (max-width: 800px) {
  .page-container {
    margin-top: 200px;
    margin-bottom: 150px;
  }
}


#f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r{
    margin: -3px;
    /* font-size: 12.5vw; */
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
  }

  #f, #u, #l, #l2, #s, #t, #a, #c, #k {
    animation: intro .4s linear;
  }

  #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    animation: intro .8s linear;
  }

  @media only screen and (min-width: 600px) {
    #f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    margin: -3px;
    font-size: 130px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    }
  }
  @media only screen and (min-width: 800px) {
    #f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    margin: -3px;
    font-size: 145px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    }
  }
  @media only screen and (min-width: 1100px) {
    #f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    margin: -3px;
    font-size: 150px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    }
  }
  @media only screen and (min-width: 1200px) {
    #f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    margin: -3px;
    font-size: 180px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    }
  }
  @media only screen and (min-width: 1400px) {
    #f, #u, #l, #l2, #s, #t, #a, #c, #k, #d, #e, #v, #e2, #l3, #o, #p, #e3, #r {
    margin: -4px;
    font-size: 212px;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    }
  }

  @keyframes intro {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%); 
    }
  }

  @keyframes bio {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%); 
    }
  }


  #f:hover {
    color: #BCB6FF;
  }
  #u:hover {
    color: #B8E1FF;
  }
  #l:hover {
    color: #A9FFF7;
  }
  #l2:hover {
    color: #94FBAB;
  }
  #s:hover {
    color: #BCB6FF;
  }
  #t:hover {
    color: #B8E1FF;
  }
  #a:hover {
    color: #A9FFF7;
  }
  #c:hover {
    color: #94FBAB;
  }
  #k:hover {
    color: #BCB6FF;
  }
  #d:hover {
    color: #B8E1FF;
  }
  #e:hover {
    color: #A9FFF7;
  }
  #v:hover {
    color: #94FBAB;
  }
  
  #e2:hover {
    color: #BCB6FF;
  }
  #l3:hover {
    color: #B8E1FF;
  }
  #o:hover {
    color: #A9FFF7;
  }
  #p:hover {
    color: #94FBAB;
  }
  #e3:hover {
    color: #BCB6FF;
  }
  #r:hover {
    color: #B8E1FF;
  }


  .body-img {
    height: 450px;
    width: 580px;
    display: flex;
    justify-content: end;
    align-content: center;
    border: solid white 5px;
  }

  @media only screen and (max-width: 800px) {
    .body-img {
    height: 350px;
    width: 475px;
    display: flex;
    justify-content: end;
    }
  }

  .body-text{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    /* border: solid white; */
  }
  .body-info {
    margin: 20px;
  }
  .icons {
    margin: 20px;
    font-size: 26px;
    /* border: solid white; */
    letter-spacing: 3px;
    line-height: 1.5;
  }
  @media only screen and (min-width: 1400px) {
    .icons {
    margin: 20px;
    font-size: 34px;
    letter-spacing: 3px;
    line-height: 1.5;
    }
  }



  .footer-icons {
    margin: 30px;
    font-size: 32px;
    /* border: solid white; */
    letter-spacing: 6px;
  }

  .body-header {
  
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    /* border: solid white; */
    text-align: start;
}
  .body-container {
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    /* border: solid white; */
  }
  .code-link {
    margin: 20px;
  }

.navbar {
font-size: 24px;
background-color: rgb(14, 16, 19) !important;
padding-left: 35px;
padding-right: 35px;
}


#project1, #project2, #project3, #project4 {
padding-top: 90px;
padding-bottom: 90px;
/* border: solid white; */
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  color: white !important;
  text-decoration: underline;
}



.about-container {
  font-size: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid white; */
  margin-top: 150px;
  margin-bottom: 150px;
}


.about-text {
  text-align: center;
  padding-right: 320px;
  padding-left: 320px;
  /* border: solid white; */
}

@media only screen and (max-width: 1000px) {
  .about-text {
    padding: 0px;
    margin: 15px;
  }
}


.contact-container {
  margin-top: 80px !important;
  margin-bottom: 20px !important;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  font-size: 25px;
  text-align: center;
font-family: 'Staatliches', cursive;
  /* border: solid white; */
}



.contact-header {
  font-size: 160px;
    position: relative;
    overflow: hidden;
}


@media only screen and (max-width: 800px) {
  .contact-header {
  padding: 40px;
  font-size: 130px;
  }
}


#admin {
  font-size: 16px;
}


 
.child {
  font-size: 160px;
  font-family: 'Staatliches', cursive;
  position: relative;
  overflow: visible;
  animation: right-to-left 11s linear infinite;
  animation-delay: -1s;
  white-space: nowrap;
  animation-play-state: running;

}

/* #parent:hover .child {
  animation-play-state: paused;
} */

@keyframes right-to-left {
  0% {
    transform: translateX(100%); color: #B8E1FF;
  }

  25% {
    color: #BCB6FF;
  }

  50% {
    color: #A9FFF7;
  }
  
  75% {
    color: #94FBAB;
  }
  
  100% {
    transform: translateX(-160%);
    color: #B8E1FF;
  }
}