body {
    color: rgb(201, 199, 199);
    background-color: rgb(2, 3, 5);
    font-size: 24px;
}

h1 {
    font-size: 300px;
    font-family: 'Staatliches', cursive;
}
h1:hover {
    color: white;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}